# 完整 URL 化地址，示例：
# https://你的域名/http/router/workstation/pub.connection.signedURL
OBA_WORKSTATION_WS_SIGN_URL=https://env-00jy6l3d88f9.dev-hz.cloudbasefunction.cn/http/router/workstation/pub.connection.signedURL

# 必须与 shangpinku 的 uni-config-center/workstation-websocket/config.json 一致
OBA_WORKSTATION_WS_ACCESS_KEY=1234
